* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 725px;    
}    

.foreground {
    background: #ffff;
    height: 500px;
    width: 750px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

button {
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffff;       
    text-decoration: none;
    font-weight: 900;
    font-size: 2.5em;
    padding: 0.75em 2em;
    border-radius: 100px;
    box-shadow: 2px 5px #D3D3D3;

    display: flex;
    min-height: 50px;
    min-width: 700px;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom: 20px;
    
    margin-left: 15px;
}

.shake {
    animation: shake 0.5s infinite;
}
@keyframes shake {
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(8deg);
    }
}

.dice-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height:200px;
    padding: 10px;
}

#total {
    text-align: center;
    font-size: 3em;
    padding-top: 40px;
}